<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>ProjectManagement</title>
  </head>
  <body>
    <h1> Project Management Tool </h1>
    <div id="nav">
      <button type="button" id="generateCompany" >Generate Project</button>
      <button type="button" id="addEmp">Add an Employee</button>
    </div>

      <div id="counter">
      </div>

    <div id="project">
      <h1 id="companyName"></h1>
      <ul>
        <li id="frontEnd"></li>
        <li id="clientSide"></li>
        <li id="serverLogic"></li>
      </ul>
    </div>



<script src="vendors/jquery.js" charset="utf-8"></script>
<script type="text/javascript" src='js/script.js'></script>
</body>

</html>
